@model List<Organization>

<h1>Organization Databank</h1>
<br />

<div id="search-area">
    <h2>Search Organizations</h2>
    <input type="text" id="search" placeholder="Search by name..." />
</div>
<br />

<ul id="itemList"></ul>

<button class="btn btn-primary" id="prevButton">Previous</button>
<button class="btn btn-primary" id="nextButton">Next</button>

<script>
    var allItems = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/site.js"></script>
